@model  gyak5.Validation.Models.Diak
@{
    ViewBag.Title = "FormHelperRequest";
}

<h2>FormHelper</h2>
@using (@Html.BeginForm(FormMethod.Post))
{
    @Html.LabelFor(m => m.Nev) <br />
    @Html.TextBoxFor(m => m.Nev) <br />
    @Html.ValidationMessageFor(m => m.Nev) <br />
    @Html.LabelFor(m => m.PontSzam) <br />  
    @Html.TextBoxFor(m => m.PontSzam) <br />
    @Html.ValidationMessageFor(m => m.PontSzam) <br />
    <input type="submit" name="submit" value="Tovább" />
}

@if (IsPost)
{
    <ul>
        <li>@Request["Nev"]</li>
        <li>@Request["PontSzam"]</li>
    </ul>
}

